/*html {*/
/*    background: url(../images/background.jpg) no-repeat center center fixed;*/
/*    filter: blur(5px);*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/

/*.content:before {*/
/*    content: "";*/
/*    position: fixed;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: -1;*/
/*    display: block;*/
/*    background: url('../images/background.jpg') no-repeat center center fixed;*/
/*    !*width: 1200px;*!*/
/*    !*height: 800px;*!*/
/*    -webkit-filter: blur(5px);*/
/*    -moz-filter: blur(5px);*/
/*    -o-filter: blur(5px);*/
/*    -ms-filter: blur(5px);*/
/*    filter: blur(5px);*/
/*    -webkit-background-size: cover;*/
/*    -moz-background-size: cover;*/
/*    -o-background-size: cover;*/
/*    background-size: cover;*/
/*}*/

/*.content {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 0;*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*}*/

/*.content:before {*/
/*    content: "";*/
/*    position: fixed;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: -1;*/

/*    display: block;*/
/*    background-image: url('https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwia-8uZ97zmAhU-wAIHHQjgBJ0QjRx6BAgBEAQ&url=https%3A%2F%2Fwww.pythoncircle.com%2Fpost%2F691%2Fpython-script-17-setting-bing-image-of-the-day-as-desktop-wallpaper%2F&psig=AOvVaw2GT_gjpdTBl2bpdyBaMlRZ&ust=1576680630569526');*/
/*    width: 1200px;*/
/*    height: 800px;*/

/*    -webkit-filter: blur(5px);*/
/*    -moz-filter: blur(5px);*/
/*    -o-filter: blur(5px);*/
/*    -ms-filter: blur(5px);*/
/*    filter: blur(5px);*/
/*}*/

/*.content {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 0;*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*]
 */

/*.background-image {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 1;*/
/*    display: block;*/
/*    background-image: url('https://www.pythoncircle.com/media/uploads/desktop-wallpaper-change-python-20190823-d0843f2cd287490f8e1eeaa712e0f689.jpeg');*/
/*    width: 1200px;*/
/*    height: 800px;*/
/*    -webkit-filter: blur(5px);*/
/*    -moz-filter: blur(5px);*/
/*    -o-filter: blur(5px);*/
/*    -ms-filter: blur(5px);*/
/*    filter: blur(5px);*/
/*}*/

/*.content {*/
/*    position: fixed;*/
/*    left: 0;*/
/*    right: 0;*/
/*    z-index: 9999;*/
/*    margin-left: 20px;*/
/*    margin-right: 20px;*/
/*}*/

* {
    font-family: 'Roboto', sans-serif;
}

h1, .h1 {
    font-family: 'MuseoModerno', cursive;
    color: black;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.content:before {
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-image: url('../images/background.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 110%;
    height: 110%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.content, .signUp, .logIn {
    overflow: auto;
    position: relative;
}

.container {
    max-width: 960px;
}

.signUp:before {
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-image: url('../images/backgroundsignup.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 110%;
    height: 110%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.logIn:before {
    content: "";
    position: fixed;
    top: -5%;
    left: -5%;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: block;
    background-image: url('../images/backgroundlogin.jpg');
    background-repeat: repeat-y;
    background-size: cover;
    width: 110%;
    height: 110%;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.card {
    background-color: transparent;
    border: none;
    margin-right: 70px;
    margin-bottom: 55px;
    width: 250px;
}

.card-title {
    color: white;
    text-align: center;
}

.details:hover {
    text-decoration: none;
}

.header {
    text-align: center;
    color: white;
    font-size: 55px;
    margin-bottom: 4em;
}

h6 {
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-weight: bold;
    font-size: 18px;
    word-wrap: break-word;
}

.content img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.69);
    border-radius: 30px;
    height: 320px;
    width: 300px;
    /*margin: 50px;*/
}

.container-fluid img {
    /*width: 250px;*/
    height: 650px;
}

body {
    padding-top: 100px;
}

/*img {*/
/*    height: 380px;*/
/*    width: 320px;*/
/*}*/


.navbar {
    margin-bottom: 200px;
}

.nav-item {
    padding-right: 30px;
}

.home {
    padding-right: 50px;
}

.hello {
    margin: auto;
    margin-right: 70px;
    font-size: 19px;
    color: white;
}

.about-img {
    float: left;
}

.logo {
    height: 50px;
    width: 50px;
}

.h2_dp {
    color: #fff1f2;
}

.detail {
    padding-bottom: 10px;
    font-size: 30px;
    color: white;
}



.h1 {
    /*font-family: 'AnimeAce2.0BB' !important;*/
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
    padding-bottom: 50px;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

a:hover {
    text-decoration: none;
}

.column {
    display: block;
    float: left;
    width: 50%;
}

.doc {
    margin-right: 30px;
    margin-left: -50px !important;
    text-decoration: none;
    font-size: 20px;
    color: white;

}

.github {
    color: white;
    font-size: 25px;
    margin-right: 185px !important;
}

.github:hover, .doc:hover {
    color: white;
}

.li_dp {
    padding-left: 15px;
    list-style: none;
    color: #ff2424 !important;
    font-size: 20px;
}

.bg {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.83);
    border-radius: 25px;
    padding-left: 15px;
    margin: 0 auto;
}

.modes {
    text-align: center;
    color: white;
    font-size: 25px;
}

.h2_dp {
    text-align: center;
    margin-top: 30px;
}

.addGame {
    color: #ae0cff;
    text-align: center;
    font-size: 55px;
    margin-bottom: 70px;
}

.addForm {
   padding-top: 20px;
    text-align: center;
    background-color: rgba(124, 124, 124, 0.85) !important;
    border-radius: 25px;
    padding-left: 130px;
    padding-bottom: 20px;
}

.form-control-file {
    text-align: center !important;
    width: 30%;
}

input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

label {
    color: yellow !important;
}

.form-group {
    text-align: center;
}

.form-inline {
    margin: 0 auto;
    display: table;
}

.delete-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px !important;
}