body {
    color: #333;
    font-size: 0.95em;
}

.form-head {
    margin: 10px;
    line-height: normal;
    padding-bottom: 20px;
    text-align: center;
    font-size: 45px;
    /*color: black;*/
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.error-message {
    padding: 7px 10px;
    background: #fff1f2;
    border: #ffd5da 1px solid;
    text-align: center;
    color: #d6001c;
    border-radius: 4px;
    margin: 30px 0px 10px 0px;
}

.success-message {
    padding: 7px 10px;
    background: #cae0c4;
    border: #c3d0b5 1px solid;
    text-align: center;
    color: #027506;
    border-radius: 4px;
    margin: 30px 0px 10px 0px;
}

.form {
    border-spacing: initial;
    margin: 15px auto;
    word-break: break-word;
    table-layout: auto;
    line-height: 1.8em;
    color: #333;
    border-radius: 4px;
    padding: 20px 40px;
    width: 420px;
}

.btnLogin {
    border: none;
    padding: 13px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    font-size: 1.1em;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,69,1) 35%, rgba(0,212,255,1) 100%);
}